<html>
<head>
<title>Hello, Ridge</title>
<link rel="stylesheet" type="text/css" href="/css/ridge.css" />
<script type="text/javascript" src="/js/hello.js" />
<script type="text/javascript" src="/js/bye.js" />
</head>
<body>

<h1>Hello, Ridge!</h1>

<img src="/images/logo.gif" alt="" title="" />

<img src="/images/buypoint.gif" alt="" title="" />
<img src="/images/groupde.gif" alt="" title="" />
<img src="/images/20070212105306_m.jpg" alt="" title="" /> 
<img src="/images/20070302115035_m.jpg" alt="" title="" />
<img src="/images/buypoint.gif" alt="" title="" />
<img src="/images/hatenawikide.gif" alt="" title="" />
<img src="/images/logo.gif" alt="" title="" />
<img src="/images/20070220083530_m.jpg" alt="" title="" />
<img src="/images/20070309170356_m.jpg" alt="" title="" />
<img src="/images/groupde.gif" alt="" title="" />
<img src="/images/headbutton_bookmark.gif" alt="" title="" />
<img src="/images/20070222115906_m.jpg" alt="" title="" />
<img src="/images/20070330165659_m.jpg" alt="" title="" />
<img src="/images/hatena_de.gif" alt="" title="" />
<img src="/images/howtohatena.gif" alt="" title="" />

<img src="/images/logo_sym.gif" alt="" title="" />

</body>
</html>
